*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: serif,"Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

header{
  height: 50px;
  width: 100%;
  background-color: rgba(128,0,0, 0.8);
  position: fixed;
  z-index: 10;
  top: 0;
}

.header-left{
  float: left;
  line-height: 50px;
}

.header-menu{
  float: right;
  line-height: 50px;

}

.header-menu a{
  color: white;
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn{
  padding: 2px;
  color: white;
}

.top-wrapper{
  background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538_960_720.jpg);
  background-size: cover;
  padding: 200px 0 300px 0;
  color: white;
  text-align: center;
}

.top-wrapper h1{
  font-size: 70px;
}

.top-wrapper p{
  padding-top: 150px;
}

.container{
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  text-align: center;
  max-width: 1170px;
}

.logo{
  color: white;
  font-size: 30px;
  letter-spacing: 5px;
  padding-left: 10px;
}

.clear{
  clear: left;
}

.container h1{
  padding-top: 50px;
}

.container p{
  font-size: 14px;
  padding-bottom: 20px;
}

.change-btn-wrapper{
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.change-btn{
  cursor: pointer;
  background-color: rgba(192,192,192,1);
  padding: 1px 7px;
  transition: all, 0.5s;
  border-radius: 2px;
}

.change-btn:hover{
  background-color: rgba(192,192,192, 0.7);
}

.prev-btn{
  float: left;
  display: none;
}

.next-btn{
  float: right;
}

.slides{
  margin: 0 auto;
}

.slide{
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #C0C0C0;
  padding: 0 20px;
  background-color: #D7EEFF;
  height: 240px;
  border-radius: 2px;
  display: none;
}

.active{
  display: block;
}

.index-btn{
  background-color: rgba(192,192,192,1);
  width: 120px;
  height: 30px;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  line-height: 30px;
  margin-top: 10px;
  transition: all, 0.5s;
  border-radius: 2px;
}

.index-btn:hover{
  background-color: rgba(192,192,192,0.7);
}

.description-wrapper{
  padding-top: 50px;
  margin-top: 20px;
  border-top:  1px solid #eee;
  background-image: url(https://cdn.pixabay.com/photo/2016/10/20/13/35/sea-1755565_960_720.jpg);
  height: 500px;
  background-size: cover;

}

.description-wrapper p{
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    color: white;
}

.signup{
  padding: 5px;
  background-color: rgba(128,0,0,0.8);
  border-radius: 2px;
  transition: all, 0.5s;
}

.signup:hover{
  background-color: rgba(128,0,0,0.6);
}

footer{
  background-color: rgba(128,0,0, 0.3);
  height: 150px;
  width: 100%;
}

.footer-left a{
  float: left;
}

.footer-menu a{
  color: rgba(128,128,128,1);
  font-size: 13px;
  transition: all, 0.5s;
}

.footer-menu a:hover{
  color: rgba(128,128,128,0.6);
  text-decoration: underline;
}

.footer-menu ul{
  float: left;
}
